@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Force input text to be black */
input,
textarea,
select {
  color: #000000 !important;
}

/* Hide phone input flag image */
.PhoneInputCountryIcon {
  display: none !important;
}

.PhoneInputCountryIconImg {
  display: none !important;
}
